@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --blue: rgb(26, 57, 87);
  --white: #FFFFFF;
  --light-white:#e3f8e198;
  --grey-light:#646464;
  --grey:#333333;
  --green:#1DB954;
  --black-light:#121212;
  --black:#191414;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}

body.light {
  --background-color: var(--light-white);
  --background-color-light:var(--white);
  --font-weight: 400;
}

body.dark {
  --background-color: var(--grey);
  --background-color-light:var(--black-light);
  --text-color: var(--white);
  --font-weight: 500;
}





